/*Estilos para contenedor principal */
#fondo{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    background-color: rgba(58, 160, 185, 0.815);

}

#contenedor{
width:90%;
height: 590px;
border: 3px solid;
border-color: #0b3a50;
border-radius: 15px;
margin-left: 5%;
margin-right: 5%;
margin-top: 2%;
padding: 5px;
background-color: rgba(19, 109, 109, 0.466);
color:aliceblue;
font-size: medium;
text-align: center;
}

h1{
    color:rgb(5, 77, 90);
    font-style: oblique;
}
h3{
    color:#084d4d;
    margin-top: 5px;
   
}

/*Cuerpo / Contenido */
#c1,#c2,#c3{
   float:left;
    margin: 0px;
    margin-left: 30px;
    font-size: 25px;
    width: 30%;
    border: 2px solid #07373f86;
    height: 85%;
    border-radius: 30px;
}
.title{
    float:none;
    height: auto;
}
section{
    text-align: justify;
    padding:20px ;
    
}
.img{
    width: 150px;
     height: 150px;
     
}
#hernia{
    margin-top: 62px;
    height: 150px;
}

 /*Imagenes*/

 .imagenPupitre{
    width:350px;
  }

