.fondo{
    background-color: #83C4D7;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
  }


    .divvideo {
        margin-top: 2%;
        margin-bottom: 2%;
        position:relative;
        height: 5%;
        left: 75%;
        width: 15%;
        
        
        text-align: center;
    }
    .divtitulo {
        margin-top: 1%;
        margin-bottom: 2%;
        position:absolute;
        left: 10%;
        width: 10%;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 40px;
    }
    .divcontenido {
        background-color: #1F4C4F;
        left: 7%;
        width: 86%;
        position:relative;
        border-radius: 20px;
        height: 74%;
    }
    .divsiguiente {
       margin-top: 2%;
        margin-bottom: 2%;
        position:relative;
        left: 75%;
        width: 15%;
        height: 5%;
        text-align: center;
    }
    .divanterior {
        margin-top: 2%;
        margin-bottom: 2%;
        position:absolute;
        left: 10%;
        width: 15%;
        text-align: center;
        color: black;
        font-weight: bold;
        
     }
    .divImagen {
        color: white;
      
        position:absolute;
        width: 50%;
        left: 50%;
     }
     .divf {
        color: white;
        margin-top: 0%;
        margin-bottom: 0%;
        position:absolute;
        width: 50%;
        
    }
    .botonvideo{
        background-color: #C9DEE6;
        border-color: #527BB0;
        border-radius: 20px;
        font-weight: bold;
        width: 100%;
        
    }


    .divtexto {
        
        margin-top: 10%;
        margin-bottom: 20%;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 40px;
        position:relative;
       text-align: center;
    }